.notes-view-container {
    width: 75vw;
    height: 89vh;
}

.example-full-width {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.example-form
{
    width: 58vw;
    margin: auto;
    overflow: hidden;
}