<mat-grid-list cols="4" rowHeight="1:2" gutterSize="15">
    <mat-grid-tile class="video-list" colspan="1">
        <!-- <mat-grid-tile-header>Header</mat-grid-tile-header> -->
        <mat-card class="list-card">
            <mat-nav-list>
                <mat-list-item (click)="preview(0)" class="matlist-item">
                    <span matListItemIcon><mat-icon>video_file</mat-icon></span>
                    <span matListItemTitle>Demo 1</span>
                    <span matListItemLine>Produced by SS</span>
                    <button mat-icon-button (click)="download('../../assets/video/fridayoutput.mp4')" matListItemMeta>
                        <span>
                            <mat-icon color="primary">download</mat-icon>
                            <span class="download">Download</span>
                        </span>
                    </button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="preview(1)" class="matlist-item">
                    <span matListItemIcon><mat-icon>video_file</mat-icon></span>
                    <span matListItemTitle>Demo 2</span>
                    <span matListItemLine>Created on PP</span>
                    <button mat-icon-button (click)="download('../../assets/video/satoutput.mp4')" matListItemMeta>
                        <span>
                            <mat-icon color="primary">download</mat-icon>
                            <span class="download">Download</span>
                        </span>
                    </button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <!-- <mat-list-item (click)="preview()" class="matlist-item">
                    <span matListItemIcon><mat-icon>video_file</mat-icon></span>
                    <span matListItemTitle>Demo 3</span>
                    <span matListItemLine>Produced by RRR</span>
                    <button mat-icon-button (click)="download('../../assets/video/test.mp4')" matListItemMeta>
                        <span>
                            <mat-icon color="primary">download</mat-icon>
                            <span class="download">Download</span>
                        </span>
                    </button>
                </mat-list-item>
                <mat-divider></mat-divider> -->


                <!-- <mat-list-item>
                    <span matListItemIcon><mat-icon>video_file</mat-icon></span>
                    <span matListItemTitle>Salt</span>
                    <span matListItemLine>Extracted from sea water</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span matListItemIcon><mat-icon>video_file</mat-icon></span>
                    <span matListItemTitle>Paprika</span>
                    <span matListItemLine>Produced by dried and ground red peppers</span>
                </mat-list-item> -->
            </mat-nav-list>
        </mat-card>
        <!-- <mat-grid-tile-footer>Footer</mat-grid-tile-footer> -->
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        <mat-card class="video-card">
            <app-video-player></app-video-player>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>