<mat-grid-list cols="10" rowHeight="4:3" gutterSize="15">
    <mat-grid-tile class="video-list" colspan="10">
        <!-- <mat-card class="list-card"> -->
            <mat-stepper class="custom-stepper" [linear]="true" #stepper>
                <mat-step [completed]="steps[0].completed" label="Upload transcript" state="upload"></mat-step>
                <mat-step [completed]="steps[1].completed" label="Fill notes" state="notes"></mat-step>
                <mat-step [completed]="steps[2].completed" label="Get slides" state="slides"></mat-step>
                <mat-step [completed]="steps[3].completed" label="Get videos" state="videos"></mat-step>
                <!-- <mat-step [completed]="steps[3].completed" label="Fill notes" state="notes"></mat-step>
                <mat-step [completed]="steps[4].completed" label="Generate test cases" state="tests">
                  <ng-template matStepLabel>Done</ng-template>
                  <p>You are now done.</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step> -->

                <!-- Icon overrides. -->
                <ng-template matStepperIcon="upload">
                    <mat-icon>cloud_upload</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="slides">
                    <mat-icon>slideshow</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="videos">
                    <mat-icon>video_collection</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="notes">
                    <mat-icon>people</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="tests">
                    <mat-icon>medical_information</mat-icon>
                </ng-template>
              </mat-stepper>
        <!-- </mat-card> -->
    </mat-grid-tile>
</mat-grid-list>