<div class="test-cases-list">
    <div class="sidebar">
        <!-- <h2>Test Cases List</h2> -->
        <mat-list *ngFor="let item of item_list;">
            <!-- <mat-list-item>
                <span>{{ item.name }}</span>
                <span class="spacer">
                    <mat-icon (click)="download(item.url)">download</mat-icon>
                    <mat-icon class="spacer2" (click)="preview()">preview</mat-icon>
                </span>
            </mat-list-item> -->
            <mat-list-item class="matlist-item" (click)="preview(item.url)">
                <span matListItemIcon>
                    <mat-icon color="primary" class="spacer2">preview</mat-icon>
                </span>
                <span matListItemTitle>{{item.name}}</span>
                <span matListItemLine>23-02-22 16:15:23</span>
                <button mat-icon-button (click)="download('../../assets/sheets/sheet1.xlsx')" matListItemMeta>
                    <span>
                        <mat-icon color="primary">download</mat-icon>
                        <span class="download">Download</span>
                    </span>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>