.notes-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.example-form
{
    width: 50vw;
}

.example-full-width
{
    width: 100%;
}