<mat-card class="list-card">
        <!-- <h2>Slides List</h2> -->
        <mat-nav-list>
            <mat-list-item>
                <span matListItemIcon>
                    <mat-icon color="primary" class="spacer2" (click)="preview()">preview</mat-icon>
                </span>
                <span matListItemTitle>SPRINT1-02172023.pptx</span>
                <span matListItemLine>17 Feb 2023 16:15:23</span>
                <button mat-icon-button (click)="download('../../assets/ppts/yourfile.pptx')" matListItemMeta>
                    <span>
                        <mat-icon color="primary">download</mat-icon>
                        <span class="download">Download</span>
                    </span>
                </button>
              </mat-list-item>
            <mat-divider></mat-divider>
            <!-- <mat-list-item>
                <span matListItemIcon>
                    <mat-icon color="primary" class="spacer2" (click)="preview()">preview</mat-icon>
                </span>
                <span matListItemTitle>Slide 2</span>
                <span matListItemLine>17 Feb 2023 17:23:51</span>
                <button mat-icon-button (click)="download('../../assets/ppts/yourfile.pptx')" matListItemMeta>
                    <span>
                        <mat-icon color="primary">download</mat-icon>
                        <span class="download">Download</span>
                    </span>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span matListItemIcon>
                    <mat-icon color="primary" class="spacer2" (click)="preview()">preview</mat-icon>
                </span>
                <span matListItemTitle>Slide 3</span>
                <span matListItemLine>17 Feb 2023 17:21:23</span>
                <button mat-icon-button (click)="download('../../assets/ppts/yourfile.pptx')" matListItemMeta>
                    <span>
                        <mat-icon color="primary">download</mat-icon>
                        <span class="download">Download</span>
                    </span>
                </button>
            </mat-list-item> -->

        </mat-nav-list>
        <!-- <mat-icon>upload</mat-icon>
        <mat-icon>download</mat-icon>
        <mat-icon>preview</mat-icon> -->
</mat-card>
