<div class="slides-list">
    <div class="sidebar">
        <h2>Slides List</h2>
        <mat-list>
            <mat-list-item>
                <span>Slide 1</span>
                <span class="spacer">
                    <mat-icon (click)="download()">download</mat-icon>
                    <mat-icon class="spacer2" (click)="preview()">preview</mat-icon>
                </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span>Slide 2</span>
                <span class="spacer">
                    <mat-icon (click)="download()">download</mat-icon>
                    <mat-icon class="spacer2" (click)="preview()">preview</mat-icon>
                </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span>Slide 3</span>
                <span class="spacer">
                    <mat-icon (click)="download()">download</mat-icon>
                    <mat-icon class="spacer2" (click)="preview()">preview</mat-icon>
                </span>
            </mat-list-item>

        </mat-list>
        <!-- <mat-icon>upload</mat-icon>
        <mat-icon>download</mat-icon>
        <mat-icon>preview</mat-icon> -->
    </div>

</div>