.video-player-wrapper {
    // margin-top: 100px;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    z-index: 100;
}
.player-list {
   margin: 0;
   padding: 0;
}
.player-list li {
   list-style: none;
   padding: 15px 35px;
   display: block;
   background: #cccc;
   cursor: pointer;
   text-align: left;
   margin-bottom: 1px;
}
li.selected {
    background: #03A9F4 !important;
}